html, body{
  height: 100%;
}

body{
  /*color: snow*/
  background-color:#EEE9E9;
}

pre{
  background: none;
  border: none;
}

img{
  max-width: 100%;
  margin: auto;
  display: block;
  clear: both;
}


.artical-tags a:hover,
.artical-tags a:active,
.artical-tags a:visited,
.artical-tags a:link{
  color:#F0FFF0;
  text-decoration: none;
}

/*
*浏览器的滚轮配置
*目前只支持webkit内核
*/
::-webkit-scrollBar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: black;

}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 10px;
}

#view-container{

}

.artical-title{
  font-family: "黑体";
}

.title-attention{
  border-left: 10px solid grey;
  border-right: 10px solid grey;
  background-color: rgba(0, 0, 0, 0.1);
}

.artical-message{
  margin-bottom: 15px;
  color: grey;
}

.artical-content{
  padding: 5px;
}

/*markdown 引用*/
blockquote{
  border-left: 5px solid #9FB6CD;
  background-color: rgba(185, 211, 238, 0.5);
}
