*, h1, h2, h3, h4, h5, p{
  height: auto;
  font-family: "Microsoft Yahei";
}
img{
  max-width: 100%;
  margin: auto;
  clear: both;
  display: block;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #363636;
}

::-webkit-scrollbar{
  width: 5px;
}

input[name='editor-input']{
  width: 100%;
  border: none;
  background: none;
  color:#B5B5B5;
  border-bottom: 1px solid #696969;
  box-shadow: none;
}

textarea[name='editor-box']{
  border: none;
  color:#B5B5B5;
  background-color: rgba(255, 0, 0, 0);
}

textarea[name='editor-box']::-webkit-scrollbar{
  border-radius: 20px;
  background-color: grey;
}
textarea[name='editor-box']::-webkit-scrollbar-track {
  border-radius: 20px;
	background-color: #4F4F4F;
} /* 滚动条的滑轨背景颜色 */

textarea[name='editor-box']::-webkit-scrollbar-thumb {
      border-radius: 20px;
		  background-color: rgba(0, 0, 0, 0.5);
} /* 滑块颜色 */

#note-container{
  width: 100%;
  height: 100%;
}
#user{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
#user .user-name{

}
#user .user-phone{

}
#user .user-intro{

}
.loading-panel{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000;
}

.loading-icon{
  position: inherit;
  width: 32px;
  height: 32px;
  top: 48%;
  left: 48%;

}

.upload-panel{
  position: absolute;
  width: 50%;
  height: auto;
  top: 40%;
  left : 25%;
  text-align: center;
  background-color: grey;
  overflow: hidden;
  z-index: 80;
}
#note-notebook{
  width: 100%;
  height: calc(100% - 70px);
  border-right: none;
  overflow-x: hidden;
  overflow-y: scroll;
}


#note-notebook::-webkit-scrollbar-track{
  background-color: inherit;
}

#note-notebook::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: rgba(54, 54, 54, 0.8);
}
.menu{
  width: 100%;
  height: 32px;
  display: block;
}
.toggle{
  position: absolute;
  width: auto;
  height: auto;
  left: 100%;
}

.artical-unit{
  padding: 5px;
  width: 100%;
  height: 120px;
  color: black;
  background-color: white;
  border-bottom: 1px grey solid;
  overflow: hidden;
  cursor:  pointer;
  transition: background-color 1.0s, color 1.0s;
}


.artical-unit:hover{
  color:white;
  background-color: #008B45;
  transition: background-color 0.3s, color 0.3s;
}

.active{
  color:white;
  background-color: black;
}

.artical-unit .artical-title{
  height: auto;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artical-unit .artical-date{

  margin: 5px 0px 0px 5px;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artical-unit .artical-content{
  height: auto;
  line-height: 1.5em;
  word-wrap: break-word;
}


.artical-unit .menu-list{
  position: absolute;
  height: 32px;
  width: 100%;
  font-size: 20px;
  visibility: hidden;
  z-index: 100;
}

.artical-unit:hover .menu-list{
  visibility: visible;
}

.artical-unit-goin{
  width: 50%;
}

.menu-list .menu-list-delete{
  position: inherit;
  top : 2px;
  left: -moz-calc(100% - 20px - 10px);
  left: -webkit-calc(100% - 20px - 10px);
  left: calc(100% - 20px - 10px);
  color: white;
  transition: color 0.5s;
}

.menu-list .menu-list-delete:hover{
  color: black;
}

.menu-list .menu-list-artattr{
  position: inherit;
  left: -moz-calc(100% - 20px - 40px);
  left: -webkit-calc(100% - 20px - 40px);
  left: calc(100% - 20px - 32px);
  color: white;
  transition: color 0.5s;
}

.menu-list .menu-list-artattr:hover{
  color: black;
}

.menu-group{
  width: 100% ;
  height: 32px;
  display: block;
}

.icon{
  cursor: pointer;
  width: 32px;
  height: 32px;
  float: right;
  clear: none;
  display: inline;
  background-color: inherit;
  transform: rotateZ(0deg);
  transition: transform 0.5s;
}

@media (max-width: 768px) {
  .artical-unit .menu-list{
    font-size: 16px;
  }
}

.menu-group .icon:hover{
  transform: rotateZ(360deg);
}
.search-group{
  width: 100%;
  height: 32px;
  margin: 3px 0px ;
  display: block;
}
.search-btn{
  max-width: none;
  cursor: pointer;
  height: 16px;
}

#editor{
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-y: hidden;
}

#editor .editor-box{
  width: 100%;
  height: calc(100% - 132px);
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

#buttonGroup{
  height: 48px;
}
#buttonGroup button{
  height: 32px;
}
.input-group-title{
  margin-top: 5px;
}
.input-group-title #title{
  height: 32px;
}
.input-group-tags #tags{
  height: 32px;
}
.interval{
  margin-bottom: 5px;
}

#preview{
  width: 100%;
  height: 100%;
  color: #B9D3EE;
  padding-top: 5px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

#preview::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #696969;
}
